body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

img {
            display: block;  /*Caso eu queira fazer alguma alteração use o display: block;**/
            margin: auto;
        }

.botaopai {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.botaofilho {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #137c3a;
    color: #FFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.whatsapp-icon {
    margin-right: 5px;
}

footer{
        position: absolute;
        bottom: 0;
        background-color: rgb(0, 0, 0);
        color: #FFF;
        width: 100%;
        height: 100px;    
        text-align: center;
        line-height: 100px;
}
